#image-gallery {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: repeat(3, 350px);
    gap: 3px;
    padding: 5px;
    max-width: fit-content;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.cranes {
    border: solid;
    border-width: 1px;
    border-color: rgb(255 0 0);
}

.hmart {
    border: solid;
    border-width: 1px;
    border-color: rgb(255 0 0);
}

.nana {
    border: solid;
    border-width: 1px;
    border-color: rgb(255 0 0);
}

h1 {
    text-align: center;
    color: rgb(255 0 0);
}

h3 {
    text-align: center;
    color: rgb(255 0 0);
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgb(255 0 0);
}

#return {
    float: inline-end;
}